/*************************************************************
Globals
************************************************************/
body {
  font: normal normal 62.5% "open sans", "arial", sans-serif;
  line-height: 1.2;
  color: #000;
  overflow-x: hidden;
}
