body {
    padding: 10px;
    background: #eee;
}

button {
    font: bold 20px Arial,sans-serif;
    color: rgba(0, 0, 0, 0.8);
    text-shadow: 0 0.1em 0 rgba(255, 255, 255, 0.5);
    display: inline-block;
    outline: none;
    cursor: pointer;
    padding: 0.4em 2em 0.5em;
    -moz-border-radius: 0.3em;
    -webkit-border-radius: 0.3em;
    border-radius: 0.3em;
    border: 1px solid;
    border-color: #bbbbbb #a2a2a2 #888888;
    background-color: #eee;
    background-image: -moz-linear-gradient(#eeeeee, #d4d4d4);
    background-image: -webkit-linear-gradient(#eeeeee, #d4d4d4);
    background-image: linear-gradient(#eeeeee, #d4d4d4);
    -moz-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.3), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.3), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.1), 0 0.1em 0.2em rgba(0, 0, 0, 0.3), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
    -moz-transition: all 100ms;
    -o-transition: all 100ms;
    -webkit-transition: all 100ms;
    transition: all 100ms;
}
button:hover {
    -moz-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
    -webkit-box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
    box-shadow: 0 0.1em 0.5em rgba(0, 0, 0, 0.4), 0 0.1em 0.2em rgba(0, 0, 0, 0.4), 0 -0.1em 0.07em rgba(0, 0, 0, 0.3) inset, 0 0.1em 0.07em rgba(255, 255, 255, 0.2) inset;
}
button:active {
    padding: 0.4em 2em 0.4em;
    margin-top: 0.1em;
    border-color: #a2a2a2 #bbbbbb #eee;
    background-image: -moz-linear-gradient(#e1e1e1, #eeeeee);
    background-image: -webkit-linear-gradient(#e1e1e1, #eeeeee);
    background-image: linear-gradient(#e1e1e1, #eeeeee);
    -moz-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
    -webkit-box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0.1em 0.2em rgba(0, 0, 0, 0.1) inset, 0 0.1em 0.1em rgba(0, 0, 0, 0.2) inset, 0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset, -0.05em 0 0.07em rgba(0, 0, 0, 0.2) inset;
    -moz-transition: all 10ms;
    -o-transition: all 10ms;
    -webkit-transition: all 10ms;
    transition: all 10ms;
}

.ball {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 8px;

    background: yellow;
    border: 2px solid #CCAD00;
    color: #666;
    text-align: center;

    font: 14px Arial, sans-serif;
    font-weight: bold;
}

#scene {
    position: relative; 
    width: 640px;
    margin: auto;
}

