body {
    padding: 10px;
    background: #eee;
}

.cu-logo {
    position: absolute;
    top: 150px;
    left: 150px;
    width: 100px;
    height: 100px;

    &.offset {
        left: 350px;
    }
}
