body, html {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
  background-color: transparent;
  width: 600px;
}
h1 {
  font-weight: 300;
}

.menu-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  /*border-radius: 20px;*/
}
.large-menu-container {
  width: 100%;
  background-color: rgba(0,0,0,0.8);
}

.list-group-item {
  background-color: rgba(0,0,0,0);
  border: 0;
  font-size: 16px;
}
a.list-group-item {
  color: #fff;
}
a.list-group-item:hover,
a.list-group-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: rgba(1,1,1,0.1);
}

input {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
}
.list-input-item {
  margin-left: 15px;
  margin-right: 15px;
}
.menu-input {
  font-size: 16px;
  width: 100%;
}