body, html {
  font-family: 'Rambla', Arial, Sans-Serif;
  background-color: transparent;
  width: 100%;
}
h1 {
  font-weight: 400;
  font-size: 60px;
}

.menu-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40%;
  padding: 20px;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  /*border-radius: 20px;*/
  text-align: center;
}
.large-menu-container {
  margin-top: 300px;
  width: 100%;
  background-color: rgba(0,0,0,0.9);
}

.menu-button {
  border-color: #fff;
  border-style: solid;
  border-width: 2px;
  margin: 10px;
}
.menu-button-item {
  display: block;
  height: 100px;
  line-height: 100px;
  vertical-align: middle;
  background-color: rgba(0,0,0,0.8);

  font-size: 40px;
}
.content {
  font-size: 30px;
}

.list-group-item {
  background-color: rgba(0,0,0,0);
  border: 0;
  font-size: 16px;
}
a.list-group-item {
  color: #fff;
}
a.list-group-item:hover,
a.list-group-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: rgba(1,1,1,0.1);
}

a.menu-button-item:link,
a.menu-button-item:visited {
  color: #fff;
  text-decoration: none;
}

a.menu-button-item:hover,
a.menu-button-item:focus,
a.menu-button-item.hovered {
  color: #fff;
  text-decoration: none;
  background-color: #337AB7;
}

input {
  background: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
}
.list-input-item {
  margin-left: 15px;
  margin-right: 15px;
}
.menu-input {
  font-size: 16px;
  width: 100%;
}