body, html {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Sans-Serif;
}
h1 {
  font-weight: 300;
}

.menu-container {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30%;
  padding: 20px;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  border-radius: 20px;
}
.list-group-item {
  background-color: rgba(0,0,0,0);
  border: 0;
}
a.list-group-item {
  color: #fff;
}
a.list-group-item:hover,
a.list-group-item:focus {
  color: #fff;
  text-decoration: none;
  background-color: rgba(1,1,1,0.1);
}