body {
  background-color: #536C6C;
}

.btns-holder {
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
}

.options-holder {
  position: absolute;
  top: 120px;
  left: 0;
  right: 0;
  margin-left: 0;
  margin-right: 0;
}

h2 {
  font-size: 18px;
  color: #fff;
}
